In [3]:
import polars as pl

q = (
    pl.scan_csv("titanic.csv")
    .filter(pl.col("Age") > 40)
    .group_by("Sex")
    .agg(pl.len())
)

df_q = q.collect()

print(df)

shape: (2, 2)
┌────────┬─────┐
│ Sex    ┆ len │
│ ---    ┆ --- │
│ str    ┆ u32 │
╞════════╪═════╡
│ female ┆ 48  │
│ male   ┆ 102 │
└────────┴─────┘

In [5]:
df = pl.read_csv("titanic.csv")
print(df.head())

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [6]:
df.describe()

shape: (9, 13)
┌────────────┬─────────────┬──────────┬──────────┬───┬───────────┬───────────┬───────┬──────────┐
│ statistic  ┆ PassengerId ┆ Survived ┆ Pclass   ┆ … ┆ Ticket    ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---        ┆ ---         ┆ ---      ┆ ---      ┆   ┆ ---       ┆ ---       ┆ ---   ┆ ---      │
│ str        ┆ f64         ┆ f64      ┆ f64      ┆   ┆ str       ┆ f64       ┆ str   ┆ str      │
╞════════════╪═════════════╪══════════╪══════════╪═══╪═══════════╪═══════════╪═══════╪══════════╡
│ count      ┆ 891.0       ┆ 891.0    ┆ 891.0    ┆ … ┆ 891       ┆ 891.0     ┆ 204   ┆ 889      │
│ null_count ┆ 0.0         ┆ 0.0      ┆ 0.0      ┆ … ┆ 0         ┆ 0.0       ┆ 687   ┆ 2        │
│ mean       ┆ 446.0       ┆ 0.383838 ┆ 2.308642 ┆ … ┆ null      ┆ 32.204208 ┆ null  ┆ null     │
│ std        ┆ 257.353842  ┆ 0.486592 ┆ 0.836071 ┆ … ┆ null      ┆ 49.693429 ┆ null  ┆ null     │
│ min        ┆ 1.0         ┆ 0.0      ┆ 1.0      ┆ … ┆ 110152    ┆ 0.0       ┆ A10   ┆ C        │
│ 25%        ┆ 224.0       ┆ 0.0      ┆ 2.0      ┆ … ┆ null      ┆ 7.925     ┆ null  ┆ null     │
│ 50%        ┆ 446.0       ┆ 0.0      ┆ 3.0      ┆ … ┆ null      ┆ 14.4542   ┆ null  ┆ null     │
│ 75%        ┆ 669.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ null      ┆ 31.0      ┆ null  ┆ null     │
│ max        ┆ 891.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ WE/P 5735 ┆ 512.3292  ┆ T     ┆ S        │
└────────────┴─────────────┴──────────┴──────────┴───┴───────────┴───────────┴───────┴──────────┘

In [7]:
df_clean = (
    df.drop_nulls("Age")
    .filter(pl.col("Fare") > 100)
)

In [8]:
df.group_by("Pclass").agg(pl.col("Fare").mean())

shape: (3, 2)
┌────────┬───────────┐
│ Pclass ┆ Fare      │
│ ---    ┆ ---       │
│ i64    ┆ f64       │
╞════════╪═══════════╡
│ 2      ┆ 20.662183 │
│ 1      ┆ 84.154687 │
│ 3      ┆ 13.67555  │
└────────┴───────────┘

In [9]:
df_clean.write_parquet("cleaned.parquet")
df_new = pl.read_parquet("cleaned.parquet")

In [10]:
import polars as pl

# Create a small CSV with timestamps
with open("events.csv", "w") as f:
    f.write("event,timestamp\n")
    f.write("login,2025-08-26 10:30:00\n")
    f.write("logout,2025-08-26 12:15:00\n")
    f.write("purchase,2025-08-26 14:05:30\n")

# Load the CSV
df_events = pl.read_csv("events.csv")

# Convert timestamp column to proper datetime
df_events = df_events.with_columns(
    pl.col("timestamp").str.strptime(pl.Datetime, "%Y-%m-%d %H:%M:%S")
)

print(df_events)

shape: (3, 2)
┌──────────┬─────────────────────┐
│ event    ┆ timestamp           │
│ ---      ┆ ---                 │
│ str      ┆ datetime[μs]        │
╞══════════╪═════════════════════╡
│ login    ┆ 2025-08-26 10:30:00 │
│ logout   ┆ 2025-08-26 12:15:00 │
│ purchase ┆ 2025-08-26 14:05:30 │
└──────────┴─────────────────────┘

In [11]:
### Titanic DB exploration

df = pl.read_csv("titanic.csv")

df = df.drop_nulls(subset=["Age","Fare","Embarked"])

In [13]:
df = df.with_columns(
    pl.when(pl.col("Age") < 18).then(pl.lit("Child"))
    .when((pl.col("Age") >= 18) & (pl.col("Age") <= 60)).then(pl.lit("Adult"))
    .when(pl.col("Age") > 60).then(pl.lit("Senior"))
    .otherwise(pl.lit("Unknown"))
    .alias("Age_Group")
)

In [14]:
df = df.filter(pl.col("Fare") > 0)
df = df.sort("Fare", descending=False)
df.write_parquet("titanic_cleaned.parquet")
print(df.head())

shape: (5, 13)
┌─────────────┬──────────┬────────┬──────────────┬───┬────────┬─────────────┬──────────┬───────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name         ┆ … ┆ Fare   ┆ Cabin       ┆ Embarked ┆ Age_Group │
│ ---         ┆ ---      ┆ ---    ┆ ---          ┆   ┆ ---    ┆ ---         ┆ ---      ┆ ---       │
│ i64         ┆ i64      ┆ i64    ┆ str          ┆   ┆ f64    ┆ str         ┆ str      ┆ str       │
╞═════════════╪══════════╪════════╪══════════════╪═══╪════════╪═════════════╪══════════╪═══════════╡
│ 379         ┆ 0        ┆ 3      ┆ Betros, Mr.  ┆ … ┆ 4.0125 ┆ null        ┆ C        ┆ Adult     │
│             ┆          ┆        ┆ Tannous      ┆   ┆        ┆             ┆          ┆           │
│ 873         ┆ 0        ┆ 1      ┆ Carlsson,    ┆ … ┆ 5.0    ┆ B51 B53 B55 ┆ S        ┆ Adult     │
│             ┆          ┆        ┆ Mr. Frans    ┆   ┆        ┆             ┆          ┆           │
│             ┆          ┆        ┆ Olof         ┆   ┆        ┆             ┆          ┆           │
│ 327         ┆ 0        ┆ 3      ┆ Nysveen, Mr. ┆ … ┆ 6.2375 ┆ null        ┆ S        ┆ Senior    │
│             ┆          ┆        ┆ Johan Hansen ┆   ┆        ┆             ┆          ┆           │
│ 844         ┆ 0        ┆ 3      ┆ Lemberopolou ┆ … ┆ 6.4375 ┆ null        ┆ C        ┆ Adult     │
│             ┆          ┆        ┆ s, Mr. Peter ┆   ┆        ┆             ┆          ┆           │
│             ┆          ┆        ┆ L            ┆   ┆        ┆             ┆          ┆           │
│ 819         ┆ 0        ┆ 3      ┆ Holm, Mr.    ┆ … ┆ 6.45   ┆ null        ┆ S        ┆ Adult     │
│             ┆          ┆        ┆ John Fredrik ┆   ┆        ┆             ┆          ┆           │
│             ┆          ┆        ┆ Alexand…     ┆   ┆        ┆             ┆          ┆           │
└─────────────┴──────────┴────────┴──────────────┴───┴────────┴─────────────┴──────────┴───────────┘