In [1]:
import polars as pl
df = pl.read_csv("hourly_weather.csv")

In [2]:
df.head()

shape: (5, 10)
┌─────┬───────────┬───────────┬───────────┬───┬──────────┬───────────────┬─────────┬───────────────┐
│ id  ┆ city      ┆ lat       ┆ lon       ┆ … ┆ weather  ┆ utc_timestamp ┆ country ┆ local_timesta │
│ --- ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---      ┆ ---           ┆ ---     ┆ mp            │
│ i64 ┆ str       ┆ f64       ┆ f64       ┆   ┆ str      ┆ str           ┆ str     ┆ ---           │
│     ┆           ┆           ┆           ┆   ┆          ┆               ┆         ┆ str           │
╞═════╪═══════════╪═══════════╪═══════════╪═══╪══════════╪═══════════════╪═════════╪═══════════════╡
│ 1   ┆ New Delhi ┆ 28.61282  ┆ 77.23114  ┆ … ┆ overcast ┆ 2025-08-12    ┆ IN      ┆ 2025-08-12    │
│     ┆           ┆           ┆           ┆   ┆ clouds   ┆ 07:04:18      ┆         ┆ 12:34:18      │
│ 2   ┆ Bhopal    ┆ 23.26667  ┆ 77.400002 ┆ … ┆ broken   ┆ 2025-08-12    ┆ IN      ┆ 2025-08-12    │
│     ┆           ┆           ┆           ┆   ┆ clouds   ┆ 06:53:16      ┆         ┆ 12:23:16      │
│ 3   ┆ Jaipur    ┆ 23.433331 ┆ 86.133331 ┆ … ┆ overcast ┆ 2025-08-12    ┆ IN      ┆ 2025-08-12    │
│     ┆           ┆           ┆           ┆   ┆ clouds   ┆ 06:56:34      ┆         ┆ 12:26:34      │
│ 4   ┆ Bengaluru ┆ 12.97623  ┆ 77.603287 ┆ … ┆ overcast ┆ 2025-08-12    ┆ IN      ┆ 2025-08-12    │
│     ┆           ┆           ┆           ┆   ┆ clouds   ┆ 07:02:02      ┆         ┆ 12:32:02      │
│ 6   ┆ Bhopal    ┆ 23.26667  ┆ 77.400002 ┆ … ┆ broken   ┆ 2025-08-12    ┆ IN      ┆ 2025-08-12    │
│     ┆           ┆           ┆           ┆   ┆ clouds   ┆ 07:10:34      ┆         ┆ 12:40:34      │
└─────┴───────────┴───────────┴───────────┴───┴──────────┴───────────────┴─────────┴───────────────┘

In [3]:
df = df.with_columns([pl.col("utc_timestamp").cast(pl.Utf8)])

In [4]:
df.head()

shape: (5, 10)
┌─────┬───────────┬───────────┬───────────┬───┬──────────┬───────────────┬─────────┬───────────────┐
│ id  ┆ city      ┆ lat       ┆ lon       ┆ … ┆ weather  ┆ utc_timestamp ┆ country ┆ local_timesta │
│ --- ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---      ┆ ---           ┆ ---     ┆ mp            │
│ i64 ┆ str       ┆ f64       ┆ f64       ┆   ┆ str      ┆ str           ┆ str     ┆ ---           │
│     ┆           ┆           ┆           ┆   ┆          ┆               ┆         ┆ str           │
╞═════╪═══════════╪═══════════╪═══════════╪═══╪══════════╪═══════════════╪═════════╪═══════════════╡
│ 1   ┆ New Delhi ┆ 28.61282  ┆ 77.23114  ┆ … ┆ overcast ┆ 2025-08-12    ┆ IN      ┆ 2025-08-12    │
│     ┆           ┆           ┆           ┆   ┆ clouds   ┆ 07:04:18      ┆         ┆ 12:34:18      │
│ 2   ┆ Bhopal    ┆ 23.26667  ┆ 77.400002 ┆ … ┆ broken   ┆ 2025-08-12    ┆ IN      ┆ 2025-08-12    │
│     ┆           ┆           ┆           ┆   ┆ clouds   ┆ 06:53:16      ┆         ┆ 12:23:16      │
│ 3   ┆ Jaipur    ┆ 23.433331 ┆ 86.133331 ┆ … ┆ overcast ┆ 2025-08-12    ┆ IN      ┆ 2025-08-12    │
│     ┆           ┆           ┆           ┆   ┆ clouds   ┆ 06:56:34      ┆         ┆ 12:26:34      │
│ 4   ┆ Bengaluru ┆ 12.97623  ┆ 77.603287 ┆ … ┆ overcast ┆ 2025-08-12    ┆ IN      ┆ 2025-08-12    │
│     ┆           ┆           ┆           ┆   ┆ clouds   ┆ 07:02:02      ┆         ┆ 12:32:02      │
│ 6   ┆ Bhopal    ┆ 23.26667  ┆ 77.400002 ┆ … ┆ broken   ┆ 2025-08-12    ┆ IN      ┆ 2025-08-12    │
│     ┆           ┆           ┆           ┆   ┆ clouds   ┆ 07:10:34      ┆         ┆ 12:40:34      │
└─────┴───────────┴───────────┴───────────┴───┴──────────┴───────────────┴─────────┴───────────────┘

In [5]:
df.describe()

shape: (9, 11)
┌────────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬─────────┬───────────┐
│ statistic  ┆ id        ┆ city      ┆ lat       ┆ … ┆ weather   ┆ utc_times ┆ country ┆ local_tim │
│ ---        ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ tamp      ┆ ---     ┆ estamp    │
│ str        ┆ f64       ┆ str       ┆ f64       ┆   ┆ str       ┆ ---       ┆ str     ┆ ---       │
│            ┆           ┆           ┆           ┆   ┆           ┆ str       ┆         ┆ str       │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═════════╪═══════════╡
│ count      ┆ 360.0     ┆ 360       ┆ 360.0     ┆ … ┆ 360       ┆ 360       ┆ 360     ┆ 360       │
│ null_count ┆ 0.0       ┆ 0         ┆ 0.0       ┆ … ┆ 0         ┆ 0         ┆ 0       ┆ 0         │
│ mean       ┆ 302.51944 ┆ null      ┆ 22.072263 ┆ … ┆ null      ┆ null      ┆ null    ┆ null      │
│            ┆ 4         ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ std        ┆ 148.43679 ┆ null      ┆ 5.68231   ┆ … ┆ null      ┆ null      ┆ null    ┆ null      │
│            ┆ 3         ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ min        ┆ 1.0       ┆ Bengaluru ┆ 12.97623  ┆ … ┆ broken    ┆ 2025-08-1 ┆ IN      ┆ 2025-08-1 │
│            ┆           ┆           ┆           ┆   ┆ clouds    ┆ 2         ┆         ┆ 2         │
│            ┆           ┆           ┆           ┆   ┆           ┆ 06:53:16  ┆         ┆ 12:23:16  │
│ 25%        ┆ 178.0     ┆ null      ┆ 23.26667  ┆ … ┆ null      ┆ null      ┆ null    ┆ null      │
│ 50%        ┆ 312.0     ┆ null      ┆ 23.433331 ┆ … ┆ null      ┆ null      ┆ null    ┆ null      │
│ 75%        ┆ 428.0     ┆ null      ┆ 23.433331 ┆ … ┆ null      ┆ null      ┆ null    ┆ null      │
│ max        ┆ 550.0     ┆ New Delhi ┆ 28.61282  ┆ … ┆ overcast  ┆ 2025-08-1 ┆ IN      ┆ 2025-08-1 │
│            ┆           ┆           ┆           ┆   ┆ clouds    ┆ 3         ┆         ┆ 3         │
│            ┆           ┆           ┆           ┆   ┆           ┆ 06:44:46  ┆         ┆ 12:14:46  │
└────────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴─────────┴───────────┘

In [6]:
df = df.with_columns([
    pl.col("utc_timestamp").str.strptime(pl.Datetime, "%Y-%m-%d %H:%M:%S").alias("timestamp"),
])

df = df.with_columns([
    pl.col("timestamp").dt.date().alias("day")
])

In [7]:
df.head()

shape: (5, 12)
┌─────┬───────────┬───────────┬───────────┬───┬─────────┬──────────────┬──────────────┬────────────┐
│ id  ┆ city      ┆ lat       ┆ lon       ┆ … ┆ country ┆ local_timest ┆ timestamp    ┆ day        │
│ --- ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---     ┆ amp          ┆ ---          ┆ ---        │
│ i64 ┆ str       ┆ f64       ┆ f64       ┆   ┆ str     ┆ ---          ┆ datetime[μs] ┆ date       │
│     ┆           ┆           ┆           ┆   ┆         ┆ str          ┆              ┆            │
╞═════╪═══════════╪═══════════╪═══════════╪═══╪═════════╪══════════════╪══════════════╪════════════╡
│ 1   ┆ New Delhi ┆ 28.61282  ┆ 77.23114  ┆ … ┆ IN      ┆ 2025-08-12   ┆ 2025-08-12   ┆ 2025-08-12 │
│     ┆           ┆           ┆           ┆   ┆         ┆ 12:34:18     ┆ 07:04:18     ┆            │
│ 2   ┆ Bhopal    ┆ 23.26667  ┆ 77.400002 ┆ … ┆ IN      ┆ 2025-08-12   ┆ 2025-08-12   ┆ 2025-08-12 │
│     ┆           ┆           ┆           ┆   ┆         ┆ 12:23:16     ┆ 06:53:16     ┆            │
│ 3   ┆ Jaipur    ┆ 23.433331 ┆ 86.133331 ┆ … ┆ IN      ┆ 2025-08-12   ┆ 2025-08-12   ┆ 2025-08-12 │
│     ┆           ┆           ┆           ┆   ┆         ┆ 12:26:34     ┆ 06:56:34     ┆            │
│ 4   ┆ Bengaluru ┆ 12.97623  ┆ 77.603287 ┆ … ┆ IN      ┆ 2025-08-12   ┆ 2025-08-12   ┆ 2025-08-12 │
│     ┆           ┆           ┆           ┆   ┆         ┆ 12:32:02     ┆ 07:02:02     ┆            │
│ 6   ┆ Bhopal    ┆ 23.26667  ┆ 77.400002 ┆ … ┆ IN      ┆ 2025-08-12   ┆ 2025-08-12   ┆ 2025-08-12 │
│     ┆           ┆           ┆           ┆   ┆         ┆ 12:40:34     ┆ 07:10:34     ┆            │
└─────┴───────────┴───────────┴───────────┴───┴─────────┴──────────────┴──────────────┴────────────┘

In [8]:
df['day'].unique()

shape: (2,)
Series: 'day' [date]
[
	2025-08-12
	2025-08-13
]

In [9]:
df_daily = (
    df.group_by(['city','day'])
    .agg([
        pl.col("temp").mean().round(2).alias("Avg_temperature"),
        pl.col("humidity").mean().round(2).alias("Avg_Humidity"),
        pl.len().alias("Hourly_count")
    ])
)

In [10]:
df_daily

shape: (8, 5)
┌───────────┬────────────┬─────────────────┬──────────────┬──────────────┐
│ city      ┆ day        ┆ Avg_temperature ┆ Avg_Humidity ┆ Hourly_count │
│ ---       ┆ ---        ┆ ---             ┆ ---          ┆ ---          │
│ str       ┆ date       ┆ f64             ┆ f64          ┆ u32          │
╞═══════════╪════════════╪═════════════════╪══════════════╪══════════════╡
│ Bhopal    ┆ 2025-08-12 ┆ 25.24           ┆ 86.47        ┆ 45           │
│ New Delhi ┆ 2025-08-13 ┆ 30.84           ┆ 63.6         ┆ 45           │
│ Jaipur    ┆ 2025-08-12 ┆ 28.33           ┆ 77.33        ┆ 45           │
│ Jaipur    ┆ 2025-08-13 ┆ 30.59           ┆ 66.47        ┆ 45           │
│ Bengaluru ┆ 2025-08-13 ┆ 22.94           ┆ 87.4         ┆ 45           │
│ Bhopal    ┆ 2025-08-13 ┆ 25.35           ┆ 80.64        ┆ 45           │
│ New Delhi ┆ 2025-08-12 ┆ 31.38           ┆ 69.8         ┆ 45           │
│ Bengaluru ┆ 2025-08-12 ┆ 20.19           ┆ 89.36        ┆ 45           │
└───────────┴────────────┴─────────────────┴──────────────┴──────────────┘

In [11]:
from deltalake.writer import write_deltalake

write_deltalake("./lake_data",df_daily)

In [12]:
df_new = pl.DataFrame({
    "city":["Mumbai"],
    "day":["2025-05-18"],
    "Avg_temperature":[33.1],
    "Avg_Humidity":[70.2],
    "Hourly_count":[24]
})

write_deltalake("./lake_data",df_new, mode="append")

In [13]:
# Latest version (v1)
print(pl.read_delta("./lake_data"))

# Previous version (v0)
print(pl.read_delta("./lake_data", version=0))

shape: (9, 5)
┌───────────┬────────────┬─────────────────┬──────────────┬──────────────┐
│ city      ┆ day        ┆ Avg_temperature ┆ Avg_Humidity ┆ Hourly_count │
│ ---       ┆ ---        ┆ ---             ┆ ---          ┆ ---          │
│ str       ┆ date       ┆ f64             ┆ f64          ┆ i32          │
╞═══════════╪════════════╪═════════════════╪══════════════╪══════════════╡
│ Mumbai    ┆ 2025-05-18 ┆ 33.1            ┆ 70.2         ┆ 24           │
│ Bhopal    ┆ 2025-08-12 ┆ 25.24           ┆ 86.47        ┆ 45           │
│ New Delhi ┆ 2025-08-13 ┆ 30.84           ┆ 63.6         ┆ 45           │
│ Jaipur    ┆ 2025-08-12 ┆ 28.33           ┆ 77.33        ┆ 45           │
│ Jaipur    ┆ 2025-08-13 ┆ 30.59           ┆ 66.47        ┆ 45           │
│ Bengaluru ┆ 2025-08-13 ┆ 22.94           ┆ 87.4         ┆ 45           │
│ Bhopal    ┆ 2025-08-13 ┆ 25.35           ┆ 80.64        ┆ 45           │
│ New Delhi ┆ 2025-08-12 ┆ 31.38           ┆ 69.8         ┆ 45           │
│ Bengaluru ┆ 2025-08-12 ┆ 20.19           ┆ 89.36        ┆ 45           │
└───────────┴────────────┴─────────────────┴──────────────┴──────────────┘
shape: (8, 5)
┌───────────┬────────────┬─────────────────┬──────────────┬──────────────┐
│ city      ┆ day        ┆ Avg_temperature ┆ Avg_Humidity ┆ Hourly_count │
│ ---       ┆ ---        ┆ ---             ┆ ---          ┆ ---          │
│ str       ┆ date       ┆ f64             ┆ f64          ┆ i32          │
╞═══════════╪════════════╪═════════════════╪══════════════╪══════════════╡
│ Bhopal    ┆ 2025-08-12 ┆ 25.24           ┆ 86.47        ┆ 45           │
│ New Delhi ┆ 2025-08-13 ┆ 30.84           ┆ 63.6         ┆ 45           │
│ Jaipur    ┆ 2025-08-12 ┆ 28.33           ┆ 77.33        ┆ 45           │
│ Jaipur    ┆ 2025-08-13 ┆ 30.59           ┆ 66.47        ┆ 45           │
│ Bengaluru ┆ 2025-08-13 ┆ 22.94           ┆ 87.4         ┆ 45           │
│ Bhopal    ┆ 2025-08-13 ┆ 25.35           ┆ 80.64        ┆ 45           │
│ New Delhi ┆ 2025-08-12 ┆ 31.38           ┆ 69.8         ┆ 45           │
│ Bengaluru ┆ 2025-08-12 ┆ 20.19           ┆ 89.36        ┆ 45           │
└───────────┴────────────┴─────────────────┴──────────────┴──────────────┘

In [15]:
# Only scan Mumbai records
df_mumbai = pl.read_delta("./lake_data").filter(
    pl.col("city") == "Mumbai"
)
print(df_mumbai)

shape: (1, 5)
┌────────┬────────────┬─────────────────┬──────────────┬──────────────┐
│ city   ┆ day        ┆ Avg_temperature ┆ Avg_Humidity ┆ Hourly_count │
│ ---    ┆ ---        ┆ ---             ┆ ---          ┆ ---          │
│ str    ┆ date       ┆ f64             ┆ f64          ┆ i32          │
╞════════╪════════════╪═════════════════╪══════════════╪══════════════╡
│ Mumbai ┆ 2025-05-18 ┆ 33.1            ┆ 70.2         ┆ 24           │
└────────┴────────────┴─────────────────┴──────────────┴──────────────┘

In [16]:
df_global = (
    pl.read_delta("./lake_data")
    .group_by("city")
    .agg([
        pl.col("Avg_temperature").mean().round(2).alias("global_avg_temp"),
        pl.col("Avg_Humidity").mean().round(2).alias("global_avg_humidity"),
        pl.len().alias("days_observed")
    ])
)

print(df_global)

shape: (5, 4)
┌───────────┬─────────────────┬─────────────────────┬───────────────┐
│ city      ┆ global_avg_temp ┆ global_avg_humidity ┆ days_observed │
│ ---       ┆ ---             ┆ ---                 ┆ ---           │
│ str       ┆ f64             ┆ f64                 ┆ u32           │
╞═══════════╪═════════════════╪═════════════════════╪═══════════════╡
│ Bengaluru ┆ 21.56           ┆ 88.38               ┆ 2             │
│ New Delhi ┆ 31.11           ┆ 66.7                ┆ 2             │
│ Bhopal    ┆ 25.3            ┆ 83.56               ┆ 2             │
│ Jaipur    ┆ 29.46           ┆ 71.9                ┆ 2             │
│ Mumbai    ┆ 33.1            ┆ 70.2                ┆ 1             │
└───────────┴─────────────────┴─────────────────────┴───────────────┘